[core]
  autocrlf = input
  editor = vim
  excludesfile = ~/.git_ignore
  fscache = true
  packedGitLimit = 128m
  packedGitWindowSize = 128m
  preloadindex = true
  trustctime = false
  untrackedCache = true

[include]
  path = ~/.git_aliases
  path = ~/.git_perso

[color]
  ui = auto

[init]
  defaultBranch = main

[gpg]
  program = /opt/homebrew/bin/gpg

[commit]
  gpgsign = true

[status]
  short = true

[branch]
  autosetuprebase = always

[diff]
  tool = vscode

[difftool]
  prompt = false

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  log = true
  tool = vscode

[mergetool]
  prompt = false

[mergetool "vscode"]
  cmd = code --wait $MERGED

[fetch]
  prune = true

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[rebase]
  autosquash = true
